* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: bisque;
    padding: 1em 2em;
}

img {
    display: block;
    min-width: 100%;
}

main {
    display: grid;
    place-content: center;
    margin-top: 6em;
}

.slider {
    background-image: url(./images/slide-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: black;
    width: 70vw;
    height: 60vh;
}