*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: clamp(1rem, 1.5vw, 2rem);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "head head head head"
        "nav main main aside"
        "foot foot foot foot";
    grid-template-columns: 150px 1fr 1fr 150px;
    grid-template-rows: 75px 1fr 50px;
    text-align: center;
}

.header {
    grid-area: head;
    background-color: #0e0d0d;
    color: #f1e9e9;
    padding-top: .5em;
}

.navbar {
    grid-area: nav;
    outline: 1px solid #000;
}

.main {
    grid-area: main;
    outline: 1px solid #000;
}

.aside {
    grid-area: aside;
    outline: 1px solid #000;
}

.footer {
    grid-area: foot;
    outline: 1px solid #000;
}

@media screen and (max-width: 700px) {
    body {
        grid-template-areas:
            "head head head head"
            "nav nav nav nav"
            "main main main main"
            "aside aside aside aside"
            "foot foot foot foot";

        grid-template-columns: 1fr;
        grid-template-rows: 75px 50px 1fr 75px 50px;
    }
}