*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: clamp(.9rem, 1.5vw, 2rem);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "head head head head"
        "nav main main aside"
        "foot foot foot foot";
    grid-template-columns: 150px 1fr 1fr 160px;
    grid-template-rows: 75px 1fr 50px;
    text-align: center;
}

img {
    float: right;
}

.header {
    grid-area: head;
    background-color: #0e0d0d;
    color: #f1e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: .5em;
}

.navbar {
    grid-area: nav;
    position: relative;
    background-color: #333;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    position: sticky;
    top: 0;
}

.nav-link {
    border-bottom: 1px solid #000;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: .2s ease-in;
}

.nav-link:hover {
    background-color: #222;
}

.nav-link:active {
    background-color: #bba1a1;
    color: #000;
}

.main {
    grid-area: main;
    padding: 1.4em;
    text-align: justify;
}

p {
    margin-block: 1em;
}

.aside {
    grid-area: aside;
    background-image: url(./codecademy-ad.webp);
    background-position: center;
    background-size: contain;
}

.footer {
    grid-area: foot;
    background-color: #0e0d0d;
    color: #f1e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    body {
        grid-template-areas:
            "head head head head"
            "nav nav nav nav"
            "main main main main"
            "aside aside aside aside"
            "foot foot foot foot";

        grid-template-columns: 1fr;
        grid-template-rows: 75px 50px 1fr 75px 50px;
    }

    .navbar {
        box-shadow: 0px 3px 5px #333;
    }

    .nav-links {
        flex-flow: row nowrap;
        justify-content: space-between;
        height: 50px;
    }

    .nav-link {
        flex-grow: 1;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #000;
    }
}