// ========== Second Box Styling ========== //

#third-grid-wrapper {
    padding: 10px;
    display: grid;
    grid-template-areas: 
        "tile-one tile-one tile-one tile-one"
        "tile-one tile-one tile-one tile-one"
        "tile-two tile-three tile-four tile-five"
    ;

    .tile-one-column {
        @include tile-small;
        @include tile-two;
        grid-area: tile-one;
        padding-inline: 15px;
        gap: 1.5em;
        text-align: justify;
    }

    .tile-two-column {
        @include tile-small;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .2s ease-in;
    }

    .tile-two-column:nth-child(2) {
        @include tile-yt;

        &:hover {
            background-color: #c83237;
        }
    }

    .tile-two-column:nth-child(3) {
        @include tile-fb;

        &:hover {
            background-color: #3557a2;
        }
    }

    .tile-two-column:nth-child(4) {
        @include tile-gplus;

        &:hover {
            background-color: #c84222;
        }
    }

    .tile-two-column:nth-child(5) {
        @include tile-tw;

        &:hover {
            background-color: #2084c2;
        }
    }

    .fa-youtube {
        font-size: 2.1rem;
    }
}