// ========== Second Box Styling ========== //

#third-grid-wrapper {
    // outline: 1px solid #fff;
    padding: 50px;
    display: grid;
    grid-template-areas: 
        "tile-one tile-one tile-one tile-one"
        "tile-one tile-one tile-one tile-one"
        "tile-two tile-three tile-four tile-five"
    ;

    .tile-one-column {
        grid-area: tile-one;
    }

    .tile-two-column:nth-child(1) {
        grid-area: tile-two;
    }
    .tile-two-column:nth-child(2) {
        grid-area: tile-three;
    }
    .tile-two-column:nth-child(3) {
        grid-area: tile-four;
    }
    .tile-two-column:nth-child(4) {
        grid-area: tile-five;
    }
}