// ========== First Box Styling ========== //

#second-grid-wrapper {
    display: grid;
    padding: 10px;
    grid-template-areas: 
        "tile-one tile-two"
        "tile-three tile-four"
        "tile-five tile-five"
    ;

    .tile-one-column {
        cursor: pointer;
    }

    .tile-one-column:nth-child(1) {
        @include tile-one;
        @include tile-small;
        grid-area: tile-one;

        &:hover {
            background-color: #2084c2;
        }
    }

    .tile-one-column:nth-child(2) {
        @include tile-one;
        @include tile-small;
        grid-area: tile-two;

        &:hover {
            background-color: #2084c2;
        }
    }

    .tile-one-column:nth-child(3) {
        @include tile-small;
        @include tile-two;
        grid-area: tile-three;

        &:hover {
            background-color: #555555;
        }
        
    }
    
    .tile-one-column:nth-child(4) {
        @include tile-small;
        @include tile-three;
        grid-area: tile-four;

        &:hover {
            background-color: #92b63f;
        }
    }

    .tile-two-column:nth-child(5) {
        @include tile-small;
        @include tile-four;
        grid-area: tile-five;
        font-size: 1.3rem;
        padding-inline: 5px;
    }
}