// ========== Second Box Styling ========== //

#third-grid-wrapper {
    padding: 10px;
    display: grid;
    grid-template-areas: 
        "tile-one tile-one tile-one tile-one"
        "tile-one tile-one tile-one tile-one"
        "tile-two tile-three tile-four tile-five"
    ;

    .tile-one-column {
        @include tile-small;
        @include tile-two;
        grid-area: tile-one;
    }

    .tile-two-column {
        @include tile-small;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tile-two-column:nth-child(2) {
        @include tile-yt;
    }

    .tile-two-column:nth-child(3) {
        @include tile-fb;
    }

    .tile-two-column:nth-child(4) {
        @include tile-gplus;
    }

    .tile-two-column:nth-child(5) {
        @include tile-tw;
    }
}