// ========== Mixin Components ========== //

// Testing box

@mixin test-line {
    outline: 2px solid #ffffff;
    padding: 1em;
    margin: .5em;
    border-radius: 1px;
}

// Customization for tiles

@mixin tile-small {
    margin: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    gap: .3em;
    transition: .2s ease-in;
}

@mixin tile-one {
    background-color: #3095d3;
}

@mixin tile-two {
    background-color: #666666;
}

@mixin tile-three {
    background-color: #93c748;
}

@mixin tile-four {
    background-color: #ee5232;
}

@mixin tile-large {
    background-color: #ee5232;
}

// Social media tiles

@mixin tile-yt {
    background-color: #d94349;
}
@mixin tile-fb {
    background-color: #4668b3;
}
@mixin tile-gplus {
    background-color: #d95333;
}
@mixin tile-tw {
    background-color: #3095d3;
}

// Icons

@mixin icon {
    font-size: 2.5rem;
}