// ========== Media Querries for responsive behaviour ========== //

@media screen and (max-width: 800px) {
    .main {
        grid-template-columns: 1fr;
    }

    .nav {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) {
    #second-grid-wrapper {
        width: 85vw;
    }

    #third-grid-wrapper {
        width: 85vw;

        .tile-two-column {
            width: 14.8vw;
        }
    }
}