// ========== Media Querries for responsive behaviour ========== //

@media screen and (max-width: 800px) {
    .main {
        grid-template-columns: 1fr;
    }

    .nav {
        grid-template-columns: 1fr;

            &__h2 {
                padding-bottom: 7px;
            }
    }

    .tile-one-column {
        padding: 10px;
    }

    .tile-two-column {
        padding-block: 15px;
    }

    #second-grid-wrapper {
        .tile-one-column {
            padding-block: 30px;
        }
    }
}

@media screen and (max-width: 450px) {
    // #second-grid-wrapper {
    //     // width: 85vw;
    // }

    // #third-grid-wrapper {
    //     // width: 85vw;

    //     .tile-two-column {
    //         // width: 14.8vw;
    //     }
    // }
}