//========== Partial imports, client stylesheet resets & initial general styling ========== //

@import './variables';
@import './components';
@import './nav';
@import './general';
@import './footer';
@import './cnt-box-one';
@import './cnt-box-two';
@import './media-querries';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $clr-primary;
    color: $txt-clr;
    min-height: 100vh;
    text-align: center;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

// Page layout

#first-grid-wrapper {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-areas: 
        "nav nav"
        "main main"
        "foot foot"
    ;
    grid-template-rows: 100px 450px 75px;
    grid-template-columns: 1fr 1fr;
}