@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
.nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
}
.nav__h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}
.nav__timer {
  font-size: 1.4rem;
}

.main {
  grid-area: main;
  min-width: 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.footer {
  grid-area: foot;
  padding-top: 15px;
  font-size: 0.7rem;
}

#second-grid-wrapper {
  display: grid;
  padding: 10px;
  grid-template-areas: "tile-one tile-two" "tile-three tile-four" "tile-five tile-five";
}
#second-grid-wrapper .tile-one-column {
  cursor: pointer;
}
#second-grid-wrapper .tile-one-column:nth-child(1) {
  background-color: #3095d3;
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  gap: 0.3em;
  transition: 0.2s ease-in;
  grid-area: tile-one;
}
#second-grid-wrapper .tile-one-column:nth-child(1):hover {
  background-color: #2084c2;
}
#second-grid-wrapper .tile-one-column:nth-child(2) {
  background-color: #3095d3;
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  gap: 0.3em;
  transition: 0.2s ease-in;
  grid-area: tile-two;
}
#second-grid-wrapper .tile-one-column:nth-child(2):hover {
  background-color: #2084c2;
}
#second-grid-wrapper .tile-one-column:nth-child(3) {
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  gap: 0.3em;
  transition: 0.2s ease-in;
  background-color: #666666;
  grid-area: tile-three;
}
#second-grid-wrapper .tile-one-column:nth-child(3):hover {
  background-color: #555555;
}
#second-grid-wrapper .tile-one-column:nth-child(4) {
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  gap: 0.3em;
  transition: 0.2s ease-in;
  background-color: #93c748;
  grid-area: tile-four;
}
#second-grid-wrapper .tile-one-column:nth-child(4):hover {
  background-color: #92b63f;
}
#second-grid-wrapper .tile-two-column:nth-child(5) {
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  gap: 0.3em;
  transition: 0.2s ease-in;
  background-color: #ee5232;
  grid-area: tile-five;
  font-size: 1.3rem;
  padding-inline: 5px;
}

#third-grid-wrapper {
  padding: 10px;
  display: grid;
  grid-template-areas: "tile-one tile-one tile-one tile-one" "tile-one tile-one tile-one tile-one" "tile-two tile-three tile-four tile-five";
}
#third-grid-wrapper .tile-one-column {
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  gap: 0.3em;
  transition: 0.2s ease-in;
  background-color: #666666;
  grid-area: tile-one;
  padding-inline: 5px;
}
#third-grid-wrapper .tile-two-column {
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  gap: 0.3em;
  transition: 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in;
}
#third-grid-wrapper .tile-two-column:nth-child(2) {
  background-color: #d94349;
}
#third-grid-wrapper .tile-two-column:nth-child(2):hover {
  background-color: #c83237;
}
#third-grid-wrapper .tile-two-column:nth-child(3) {
  background-color: #4668b3;
}
#third-grid-wrapper .tile-two-column:nth-child(3):hover {
  background-color: #3557a2;
}
#third-grid-wrapper .tile-two-column:nth-child(4) {
  background-color: #d95333;
}
#third-grid-wrapper .tile-two-column:nth-child(4):hover {
  background-color: #c84222;
}
#third-grid-wrapper .tile-two-column:nth-child(5) {
  background-color: #3095d3;
}
#third-grid-wrapper .tile-two-column:nth-child(5):hover {
  background-color: #2084c2;
}
#third-grid-wrapper .fa-youtube {
  font-size: 2.1rem;
}

@media screen and (max-width: 800px) {
  .main {
    grid-template-columns: 1fr;
  }
  .nav {
    grid-template-columns: 1fr;
  }
  .nav__h2 {
    padding-bottom: 7px;
  }
  .tile-one-column {
    padding: 10px;
  }
  .tile-two-column {
    padding-block: 15px;
  }
  #second-grid-wrapper .tile-one-column {
    padding-block: 30px;
  }
}
@media screen and (max-width: 450px) {
  #second-grid-wrapper {
    width: 85vw;
  }
  #third-grid-wrapper {
    width: 85vw;
  }
  #third-grid-wrapper .tile-two-column {
    width: 14.8vw;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #303030;
  color: #ffffff;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(1rem, 1.5vw, 3rem);
  font-family: "Lato", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

.icon {
  font-size: 2.5rem;
}

#first-grid-wrapper {
  display: grid;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas: "nav nav" "main main" "foot foot";
  grid-template-rows: 100px 1fr 75px;
  grid-template-columns: 1fr 1fr;
}

/*# sourceMappingURL=main.css.map */
